<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
  	<servlet-name>CreateEmployeeServlet</servlet-name>
  	<servlet-class>com.servlet.CreateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateEmployeeServlet</servlet-name>
  	<url-pattern>/createEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>
